<div class="myform">
  <%= simple_form_for @article do |f| %>
    <%= f.input :title, label: "Titre:" %>
    <%= f.input :description, label: "Texte:" %>
    <%= f.input :photo, as: :file %>
    <%= f.input :video, as: :pdf %>

  <div class="submit-button">
    <%= f.button :submit, value: "Créer l'article" %>
  </div>
  <% end %>
</div>

