<div class="container">

  <div class="row" style="margin-top: 20px;">
    <div class="back-button">
      <%= link_to 'Retour', articles_path %>
    </div>
      <% if user_signed_in? %>
      <div class="edit-button">
        <%= link_to 'Modifier', edit_article_path(@article) %>
      </div>
      <div class="delete-button">
        <%= link_to 'Supprimer', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <% end %>
  </div>

  <div class="article-title row">
    <h1><%= @article.title %></h1>
  </div>
  <div class="row">
    <div class="description col-sm-8">
      <p><%= @article.description %></p>
    </div>
    <div class="personnage2 col-sm-4">
      <%= image_tag "perso2.png"%>
    </div>
  </div>

  <% if @article.photo.attached? %>
    <div class="document row">
      <%= cl_image_tag @article.photo.key, height: 400, width: 500, crop: :fit %>
    </div>
  <% end %>
</div>

