<div class="mynavbar row">

  <div class="logo">
    <%= link_to root_path do %>
      <p>Petit</p>
      <div style="position: relative; top: -25px; left: 40px;">
        <p>Sportif.com</p>
      </div>
    <% end %>
  </div>

  <div class="menu-right">
    <%= link_to "Accueil", "/" %>
    <%= link_to "Articles", articles_path %>
    <%= link_to 'Espace parents', parents_path %>
  </div>

  <div class="menu-avatar">
    <% if user_signed_in? %>
      <div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div>
        <%= link_to "Login", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
