<div class="mynavbar row">

  <div class="logo">
    <%= link_to root_path do %>
      <p>Petit</p>
      <div style="position: relative; top: -25px; left: 40px;">
        <p>Sportif.com</p>
      </div>
    <% end %>
  </div>
  <!-- Menu ordi -->
  <div class="menu-right">
    <div>
      <%= link_to "Accueil", "/" %>
    </div>
    <div>
      <%= link_to "Articles", articles_path %>
    </div>
    <div>
      <%= link_to 'Espace parents', parents_path %>
    </div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <span><%= image_tag "tennisball.png"%></span>
        <div class="dropdown-content">
          <div>
            <%= link_to "Créer un Article", new_article_path %>
          </div>
          <div>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "Connexion", new_user_session_path %>
    <% end %>
  </div>
  <!-- Menu phone -->
  <div class="menu-phone">
    <div class="dropdown">
        <span><%= image_tag "tennisball.png"%></span>
        <div class="dropdown-content">
          <div>
            <%= link_to "Accueil", "/" %>
          </div>
          <div>
            <%= link_to "Articles", articles_path %>
          </div>
          <div>
            <%= link_to 'Espace parents', parents_path %>
          </div>
          <div>
            <%= link_to "Créer un Article", new_article_path %>
          </div>
          <% if user_signed_in? %>
            <div>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            </div>
          <% else %>
            <%= link_to "Connexion", new_user_session_path %>
          <% end %>
        </div>
      </div>
  </div>

</div>

